---
import BaseLayout from  "../layouts/BasePage.astro"
import { ImageLinkListElement } from "../components/commonComponents";

import cervical6 from "/src/images/where_computers_draw_lines/cervical_6.png";
import scissorsIcon from "/src/images/link_thumbnails/scissors-congruence-icon.jpg"
import kapwingLogo from "/src/images/link_thumbnails/kapwing_logo.png"
import provenanceIn from "/src/images/link_thumbnails/provenance-in.jpg";
import soundGardenIn from "/src/images/link_thumbnails/sound_garden_in.jpg";
import starTrackerIn from "/src/images/link_thumbnails/star-tracker-in.jpg"


const title = "Creative Technology";
const description = "A list of prior work related to creative technology";



const kapwingLinkInfo = {
    imgSource: kapwingLogo,
    altText: "Kapwing",
    link: "https://www.kapwing.com/",
}

const lineDrawingLinkInfo = {
    imgSource: cervical6,
    altText: "Predicted drawing of a cervival bone",
    link: "/computer_science/where_computers_draw_lines",
}

const scissorsCongruenceLinkInfo = {
    imgSource: scissorsIcon,
    altText: "An area divided into blue and green polygons ",
    link: "/computer_science/scissors_congruence",
}

const provenanceLinkInfo = {
	imgSource: provenanceIn,
	altText: "A hand holds a puzzle piece over a frame, poised to fit it inside.",
	link: "/projects/provenance"
}

const soundGardenLinkInfo = {
	imgSource: soundGardenIn,
	altText: "A screen shows a visual display of colorful flowers in rows",
	link: "/projects/sound_garden_playground"
}

const starTrackerLinkInfo = {
    imgSource: starTrackerIn,
    altText: "Controllers sit atop a projected playing space on a table",
    link: "/projects/mission_star_tracker",
    title:"An educational interactive about perceptual blindness"
}


---
<BaseLayout content={{title: title,  description: description}}} >
	<h2> Creative Technology </h2>

		<ImageLinkListElement linkImageInfo = {provenanceLinkInfo} title="Provenance">
			A tactile-audio narrative experience for one person in the dark, created as my masters thesis for 
			the Interactive Telecommunications Program at NYU.
		</ImageLinkListElement>

		<ImageLinkListElement linkImageInfo = {soundGardenLinkInfo} title="Sound Garden Playground" imageRight>
			An accessible collaborative music interactive.
		</ImageLinkListElement>


        <ImageLinkListElement linkImageInfo={starTrackerLinkInfo} title="Mission: Star Tracker" >
            An educational interactive about perceptual blindness in the form of a multiplayer arcade game.
        </ImageLinkListElement>

        <ImageLinkListElement linkImageInfo={kapwingLinkInfo} title="Kapwing" outsideLink imageRight>
        Collaborative browser-based video editor where worked as a full-stack engineer from 2020-2023. Features I implemented included {" "}
             <a href="https://www.kapwing.com/tools/remove-background" target="_blank" rel="noopener noreferrer" >
                 removing video backgrounds</a> {" "}
            and <a href="https://www.kapwing.com/blog/green-screen-in-browser/" target="_blank" rel="noopener noreferrer">
                green screen/chroma key</a>.
        </ImageLinkListElement>

        <!-- <ImageLinkListElement linkImageInfo={lineDrawingLinkInfo} title="Where Computers Draw Lines" imageRight >
            Undergraduate thesis in computer science, examining application of deep neural networks in non-photorealistic rendering.
        </ImageLinkListElement> -->

        <ImageLinkListElement linkImageInfo={scissorsCongruenceLinkInfo } title="Scissors Congruence" >
            An interactive demonstration of polyon equidecomposition.
        </ImageLinkListElement>
</BaseLayout>


